.sidebar {
  width: 240px;
  background-color: #16263f;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  gap: 0.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;

  .sidebar-logo-img {
    width: 36px;
    height: auto;
    object-fit: contain;
  }

  .sidebar-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #ffffff;

    span {
      font-weight: 300;
    }
  }
}

/* PanelMenu Global Reset */
:host ::ng-deep .p-panelmenu,
:host ::ng-deep .p-panelmenu .p-panelmenu-header,
:host ::ng-deep .p-panelmenu .p-panelmenu-content,
:host ::ng-deep .p-panelmenu .p-panelmenu-header-content
{
  gap: 1.5rem;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  margin: 5px !important;
  border-radius: 1rem !important;
}

/* Elimina separadores invisibles */
:host ::ng-deep .p-panelmenu .p-panelmenu-panel {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Hover y foco */
:host ::ng-deep .p-panelmenu .p-panelmenu-header:hover,
:host ::ng-deep .p-menuitem-link:hover,
:host ::ng-deep .p-menuitem-link:focus {

  transition: background-color 2s ease;

  background-color: rgba(255, 255, 255, 0.08) !important;
  outline: none !important;
}

/* Ítem activo */
:host ::ng-deep .p-menuitem-link.p-highlight {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  font-weight: 600;
}

.sidebar-logo-img {
  width: 36px;
  height: auto;
  object-fit: contain;
}

:host ::ng-deep .p-menuitem-link {
  display: flex !important;
  align-items: center;
  padding: 0.75rem 1.2rem !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 6px;
  margin: 5px;
}

:host ::ng-deep .p-menuitem-icon {
  margin-right: 0.75rem !important; 
}

